@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 300px;
	height: 250px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: -25px;
		top: 0px;	
		width: 350px;
		height: 250px;
	}

/* FRAME 1 */

	#taglinetop {
		position: absolute;
		left: 63px;
		top: 31px;	
		width: 171px;
		height: 81px;
		background-image: url(images/tagline-top.png);
	}

	#tagline1 {
		position: absolute;
		left: 52px;
		top: 121px;	
		width: 191px;
		height: 105px;
		background-image: url(images/tagline1.png);
	}

	#tagline1outline {
		position: absolute;
		left: 54px;
		top: 123px;	
		width: 192px;
		height: 106px;
		background-image: url(images/tagline1-outline.png);
	}


	#tagline2 {
		position: absolute;
		left: 73px;
		top: 120px;	
		width: 149px;
		height: 109px;
		background-image: url(images/tagline2.png);
	}

	#tagline2outline {
		position: absolute;
		left: 75px;
		top: 122px;	
		width: 150px;
		height: 110px;
		background-image: url(images/tagline2-outline.png);
	}


/* END FRAME */
	
/*
	#begin {
		position: absolute;
		left: 19px;
		top: 84px;	
		width: 142px;
		height: 26px;
		background-image: url(images/begin.png);
	}
*/

	#image {
		position: absolute;
		right: 0px;
		bottom: 0px;	
		width: 300px;
		height: 250px;
		background-image: url(images/image.png);
	}

    #tag {
		position: absolute;
		left: 14px;
		top: 95px;	
		width: 152px;
		height: 44px;
		background-image: url(images/tag.png);
	}

	#logo_nbc {
		position: absolute;
		left: 14px;
		top: 161px;	
		width: 34px;
		height: 21px;
		background-image: url(images/logo_nbc.png);
	}

	#logo_nbcsn {
		position: absolute;
		left: 60px;
		top: 159px;	
		width: 37px;
		height: 28px;
		background-image: url(images/logo_nbcsn.png);
	}

	#logo_app {
		position: absolute;
		left: 14px;
		top: 199px;	
		width: 29px;
		height: 29px;
		background-image: url(images/logo_app.png);
	}

    #cta {
		position: absolute;
		right: 0px;
		top: 228px;	
		width: 226px;
		height: 22px;
		background-image: url(images/cta.png);
	}

	#scp {
		position: absolute;
		left: 8px;
		top: 14px;	
		width: 170px;
		height: 61px;
		background-image: url(images/scp.png);
	}