@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 970px;
	height: 250px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: 0px;
		top: 0px;	
		width: 970px;
		height: 250px;
	}

/* FRAME 1 */

	#taglinetop {
		position: absolute;
		left: 198px;
		top: 28px;	
		width: 555px;
		height: 70px;
		background-image: url(images/taglinetop.png);
	}

	#tagline1 {
		position: absolute;
		left: 152px;
		top: 112px;	
		width: 655px;
		height: 110px;
		background-image: url(images/tagline2.png);
	}

	#tagline1outline {
		position: absolute;
		left: 156px;
		top: 115px;	
		width: 655px;
		height: 111px;
		background-image: url(images/tagline2-outline.png);
	}		

	/*#tagline2 {
		position: absolute;
		left: 24px;
		top: 20px;	
		width: 687px;
		height: 48px;
		background-image: url(images/tagline2.png);
	}

	#tagline2outline {
		position: absolute;
		left: 425px;
		top: 22px;	
		width: 288px;
		height: 50px;
		background-image: url(images/tagline2-outline.png);
	}*/


/* END FRAME */
	
/*
	#begin {
		position: absolute;
		left: 453px;
		top: 8px;	
		width: 163px;
		height: 30px;
		background-image: url(images/begin.png);
	}
*/

	#image {
		position: absolute;
		left: 0px;
		top: 0px;	
		width: 725px;
		height: 250px;
		background-image: url(images/image1.png);
	}

	#image2 {
		position: absolute;
		right: 0px;
		top: 0px;	
		width: 733px;
		height: 250px;
		background-image: url(images/image2.png);
	}

    /*#teams {
		position: absolute;
		left: 316px;
		top: 15px;	
		width: 229px;
		height: 27px;
		background-image: url(images/teams.png);
	}*/

	#tunein {
		position: absolute;
		left: 366px;
		top: 92px;	
		width: 238px;
		height: 90px;
		background-image: url(images/tunein_tonight.png);
	}

	#logo_nbc {
		position: absolute;
		left: 371px;
		top: 48px;	
		width: 45px;
		height: 28px;
		background-image: url(images/logo_nbc.png);
	}

	#logo_nbcsn {
		position: absolute;
		left: 424px;
		top: 199px;	
		width: 58px;
		height: 36px;
		background-image: url(images/logo_nbcsn.png);
	}

/*	#logo_cnbc {
		position: absolute;
		left: 500px;
		top: 46px;	
		width: 45px;
		height: 35px;
		background-image: url(images/logo_cnbc.png);
	}

	#logo_usa {
		position: absolute;
		left: 563px;
		top: 54px;	
		width: 43px;
		height: 19px;
		background-image: url(images/logo_usa.png);
	}*/

	#logo_app {
		position: absolute;
		left: 506px;
		top: 197px;	
		width: 38px;
		height: 38px;
		background-image: url(images/logo_app.png);
	}


	#scp {
		position: absolute;
		left: 392px;
		top: 14px;	
		width: 186px;
		height: 67px;
		background-image: url(images/scp.png);
	}